* {
    box-sizing: border-box;
    /* permite que el texto no crezca mas de lo espefificado*/
}

html {
    scroll-behavior: smooth;
}



/* Llamar a archivos de fuentes que están como "backup" por si Google Fonts falla */

@font-face {
    font-family: 'Proxima Nova';
    src: url('./fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('./fonts/proximanova-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./fonts/proximanova-bolditalic-webfont.woff2') format('woff2'),
         url('./fonts/proximanova-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;

}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('./fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Proxima Nova';
    src: url('./fonts/proximanova-italic-webfont.woff2') format('woff2'),
         url('./fonts/proximanova-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}


/* Estilos generales del texto y botones */

body {
    font-family: 'Proxima Nova', 'Source Sans Pro', 'Roboto', sans-serif;
    margin: 0;
    background-color: #002;
}

h1 {
    font-weight: bold;
    font-size: 10vmin;
}

h2 {
    font-size: 6vmin;
}

h3 {
    font-weight: bold;
    font-size: 10vmin;
}

h4 {
    font-weight: bold;
    font-size: 5vmin;
}

h5 {
    font-weight: bold;
    font-size: 3vmin;
    margin: 2vmin 0 1vmin;
}

p {
    font-size: 3vmin;
}

a {
    text-decoration: none;
    color: #FFF;
}

a:hover {
    text-decoration: none;
    color: #F60;
}

.basicbtn {
    font-family: 'Proxima Nova', 'Source Sans Pro', 'Roboto', sans-serif;
    font-size: 4vmin;
    font-weight: bold;
    padding: 2vmin 3vmin;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 10);
    color: #FFF;
    background-color: #910;
}

.basicbtn:hover {
    background-color: #F60;
    cursor: pointer;
}

.basicbtn a {
    text-decoration: none;
    color: #FFF;
}

.basicbtn a:hover {
    color: #FFF;
}

.color-acento {
    color: #FFF;
}

.emphasis {
    color: #F60;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}


/* Header */

header {
    display: flex-inline;
    background-color: #002;
}

header .logo {
    position: relative;
    max-width: 100%;
}

header .logo img.logo-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: scale-down;
    opacity: 0;
    transition: opacity .2s ease;
}

.logo:hover img.logo-hover {
    opacity: 1;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: row;
    padding-right: 2vw;
    margin-top: 2vw;
    /* margin-bottom: 2vw; */
    text-align: center;
}

header a {
    padding: 0vw 1vw;
    text-decoration: none;
    font-weight: bold;
    color: #FFF;
}

header a:hover {
    color: #F60;
}

header a:active {
    text-decoration: underline;
}

header button {
    display: none;
}


/* Estilos para botón de menú hamburguesa en el Header */
.nav {
    display: flex;
}

.toggle-button {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 30px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #022144;
    color: #ffffff;
    margin: -0.1rem 0;
    padding: 2rem 0;
    text-align: center;
}




@media (min-width: 800px) {

    header {
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 10;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;
    }

    header nav {
        margin-top: 0;
        margin-bottom: 0;
    }

    


}

@media (max-width: 640px) {
    header nav {
        display: flex;
        flex-direction: column;
        /* height: 100vh; */
        /* margin-bottom: 4vmin; */
        padding: 0;
        /* font-size: 5vmin; */
        text-align: center;
    }

    header nav a {
        padding-top: 4vh;
        padding-bottom: 4vh;
        padding-left: 10vmin;
        padding-right: 10vmin;
        margin-top: 1vmin;
        margin-bottom: 1vmin;
        text-decoration: none;
        font-weight: bold;
        color: #FFF;
        background-color: #003;
        border-radius: 15px;
    }

    header nav a:active {
        background-color: #F60;
        color: #002;
        text-decoration: none;
    }


}


/* Home -> Background Video */

#film {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-top: 10vmin;
    color: #FFF;
    text-shadow: 1px 1px 4px black;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 34, 0.1),
            rgba(0, 0, 34, 1));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -3;
}


/* Home -> Quiénes Somos */

#QuienesSomos .container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 20vmin 2vmin 0vmin;
    color: #FFF;
    text-shadow: 1px 1px 4px black;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 34, 1),
            rgba(0, 0, 34, 0.1));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.quienessomos {
    font-size: 4vmin;
}

#QuienesSomos .texto {
    width: 60%;
    max-width: 800px;
    text-align: initial;
    padding: 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(0, 0, 34, 0.8);
    border-radius: 25px;
}

/* #QuienesSomos h2 {
    /* margin-top: -50%;
} */

#QuienesSomos .img-container {
    background-image: url("./img/uno.png");
    background-size: cover;
    background-position: center center;
    width: 30%;
    border-radius: 25px;

}

@media (max-width: 720px) {
    #QuienesSomos .container {
        justify-content: center;
    }

    #QuienesSomos .img-container {
        display: none;
    }

    #QuienesSomos .texto {
        width: 100%;
        text-align: center;
    }

}

/* Home -> Menú de navegación */

#navegar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #002;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: 1px 1px 4px black;
}

#navegar .container {
    padding: 10vmin 2vmin;
    margin: 0 2vmin;
}

#navegar p {
    display: none;
}

#navegar .opciones {
    display: inline-flex;
}

#navegar .carta {
    background-position: center center;
    background-size: cover;
    padding: 5vmin 15vmin;
    margin: 4vmin;
    border-radius: 15px;
}

#navegar .basicbtn {
    margin: auto auto 2vmin auto;
}

.carta:first-child {
    width: 50%;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("./img/Reseña.png");

}

.carta:nth-child(2) {
    width: 50%;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("./img/buscar.jpg");
}

@media (max-width: 1000px) {
    #navegar .opciones {
        display: flex;
        flex-direction: column;
    }

    .carta:first-child {
        width: 90vw;
    }
    
    .carta:nth-child(2) {
        width: 90vw;

    }
}


/* Buscar */

.search-container {
    display: flex;
    flex-direction: column;
}

.search-container input[type=text] {
    font-family: 'Proxima Nova', 'Source Sans Pro', 'Roboto', sans-serif;
    margin: 0 0 2vmin 0;
    padding: 2.75vmin;
    font-size: 3vmin;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 10);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-container button {
    margin: 2vmin;
}


/* Contacto.html */

#contacto {
    display: flex;
    justify-content: center;
    padding: 12vmin 0vmin 14vmin;
    background-color: #003;
    text-shadow: 1px 1px 4px black;
    align-items: center;
}

#contacto .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logocontacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
}


.contactotexto {
    position: relative;
    text-align: center;
    overflow-wrap: normal;
}

.contactotexto h6 {
    color: #FFF;
    font-size: 3vmin;
    font-weight: normal;
    line-height: 0;
}

.contactotexto a {
    font-weight: bold;
}

#mapa {
    border-radius: 25px;
    margin-top: 0vmin;
    margin-left: 5vmin;
    width: 40vw;
    background-color: #002;
}

@media (max-width: 800px) {
    footer .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .toggle-button {
        display: flex;
    }

    .navbar {
        display: none;
    }

}

@media (min-width: 640px) and (max-width: 800px) {
    .navbar.active {
        display: flex;
    }

    header nav {
        flex-direction: row;

        flex-wrap: wrap;
        gap: 2%;
        /* width: 5rem; */
        /* height: 100vh; */
        /* margin-bottom: 4vmin; */
        padding: 0;
        /* font-size: 5vmin; */
        text-align: center;

    }

    header nav>* {
        flex: 1 1 40%;
    }

    header nav a {
        padding-top: 4vh;
        padding-bottom: 4vh;
        padding-left: 10vmin;
        padding-right: 10vmin;
        margin-top: 1vmin;
        margin-bottom: 1vmin;
        text-decoration: none;
        font-weight: bold;
        color: #FFF;
        background-color: #003;
        border-radius: 15px;
    }

    header nav a:active {
        background-color: #F60;
        color: #002;
        text-decoration: none;
    }

}

@media (max-width: 640px) {
    .navbar.active {
        display: flex;
    }


    #contacto .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #contacto .logocontacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footertext {
        position: relative;
        text-align: center;
    }
}


/* Registro.html */

#registro {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFF;
    text-shadow: 1px 1px 4px black;
    flex-direction: column;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 34, 1), rgba(0, 0, 34, 1), rgba(0, 0, 34, 0.8), rgba(0, 0, 34, 0.6),
            rgba(0, 0, 34, 0.4)), url("./img/matrixpill.png");
    background-color: #113;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
}

form {
    padding-left: 5vmax;
    padding-right: 5vmax;
    padding-top: 5vmin;
    padding-bottom: 5vmin;
    margin-bottom: 15vmin;
    border-radius: 25px;
    align-items: left;
    text-align: left;
    font-weight: normal;
    background-color: rgba(0, 0, 34, 0.8);
    width: 60%;
}

form input {
    font-family: 'Proxima Nova', 'Source Sans Pro', 'Roboto', sans-serif;
    margin: 0.5vmin 0.5vmin 1vmin;
}

form label {
    font-size: 150%;
}

.user-details .formfields input {
    padding: 0.25vmin 1vmin;
    font-size: 2.5vmin;
    border-radius: 10px;
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 10); */
}

.preferencias .formfields input {
    padding: 0.25vmin 1vmin;
    font-size: 2.5vmin;
    border-radius: 10px;
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 10); */
}

#registro form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#registro form .preferencias{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.formfields{
    margin: 5% 0 2% 0;
}

form .user-details .formfields {
    width: calc(100% / 2 - 20px);
}

form .preferencias .formfields {
    width: 100%;
}

.preferencias label{
    width: 100%;
}

.formfields span{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .formfields input{
    height: 45px;
    width: 100%;
    outline: none;
}

.preferencias .formfields input{
    height: 45px;
    width: 80%;
    outline: none;
}

.source{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.radio{
    width: 50%; 
}

@media (min-width: 640px) and (max-width: 800px) {
    form{
        width: 70%;
    }
    #registro form .user-details{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    form .user-details .formfields {
        width: 80%;
    }

    .preferencias .formfields input{
        width: 80%;
    }
}

@media (max-width:640px) {
    form{
        width: 80%;
    }

    #registro form .user-details{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    form .user-details .formfields {
        width: 100%;
    }

    .preferencias .formfields input{
        width: 100%;
    }
}


/* Iniciarsesion.html */

#iniciarsesion {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    color: #FFF;
    text-shadow: 1px 1px 4px black;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 34, 0.25),
            rgba(0, 0, 34, 1)), url("./img/iniciarsesion.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.inicioSesion{
    width: 40%;
}

#iniciarsesion form .email, #iniciarsesion form .password{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.email .formfields input,.password .formfields input {
    padding: 0.25vmin 1vmin;
    font-size: 2.5vmin;
    border-radius: 10px;
    width: 100%;
    height: 45px;
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 10); */
}


.botonEnviar{
    background-color: #910;
    color: #FFF;
    font-weight: bold;
    border: hidden;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    font-size: 2.5vmin;
    margin-top: 4%;
}

.botonEnviar:hover {
    background-color: #F60;
    cursor: pointer;
}

.registrate{
    color: #F60;
}

.registrar{
    font-size: larger;
}

@media (min-width: 640px) and (max-width: 800px) {
    .inicioSesion{
        width: 60%;
    }
}

@media (max-width:640px) {
    .inicioSesion{
        width: 80%;
    }
}



/* Reseñas.html */

@media (max-width:640px) {
    .menu01 {
        display: none;
    }
}

@media (min-width:640px) {
    .resenas01 {
        display: flex;
        justify-content: space-between;
    }

    .menu01 {
        flex-basis: calc(30%);
        min-width: 200px;
        padding-bottom: 20vmin;
    }

    #peliculas {
        flex-basis: calc(70%);
        /* padding-bottom: 20vmin; */
    }

    #peliculas h2 {
        display: none;
    }
}

@media (min-width:800px) {
    .resenas01 {
        display: flex;
        justify-content: space-between;
    }

    .menu01 {
        flex-basis: calc(25%);
        min-width: 240px;
        padding-bottom: 20vmin;
    }

    #peliculas {
        flex-basis: calc(75%);
        /* padding-bottom: 20vmin; */
    }

    #peliculas h2 {
        display: none;
    }
}

#resenasmain {
    margin-right: 3vmin;
    margin-bottom: 20vmin;
}

main .resenas01 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* Menú lateral de navegación en páginas de reseñas */

.menu01 {
    background-color: #002;
    color: #FFF;
    text-shadow: 1px 1px 4px black;
    /* border-right: 2vmin solid #002; */
}

.menu01 #menutitle {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #910;
    margin: 0 3vmin 0;
    padding: 0.1vmin;
    border-radius: 25px;
    line-height: 250%;
    /* border-bottom: 2vmin solid #002; */
}

.menu01 #menutitle:hover {
    background-color: #F60;
}

#menutitle a:hover {
    color: #FFF;
}


.sidenav {
    flex-direction: column;
    justify-content: flex-start;
    align-items: initial;
    text-align: initial;
    list-style-position: inside;
    list-style-type: none;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding: 1vmin 5vmin;
    background-color: #113;
    border-radius: 25px;
    margin: 3vmin 3vmin 0;
}

.sidenav p {
    font-size: 2.5vmin;
    line-height: 100%;
}


/* Estilos para el panel principal de películas en páginas de reseñas */

#peliculas {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFF;
    flex-direction: column;
    background-color: #113;
    border-radius: 25px;
}

#peliculas h2 {
    text-shadow: 1px 1px 4px black;
}

#peliculas .container {
    padding: 4vh 0vw;
}

#peliculas .resenas {
    padding-left: 2vmin;
    padding-right: 2vmin;
    padding-top: 2vmin;
    padding-bottom: 2vmin;
    margin: 2vmin;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border-radius: 15px;
    background-color: rgba(0, 0, 17, 0.7);
}

#peliculas .resenas:hover {
    box-shadow: 1vmax 2vmin #F60;
    transform: scale(1.1, 1.1);
}

figcaption {
    font-size: medium;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: box;
    line-clamp: 1;
    box-orient: vertical; */
}

#peliculas img {
    border-radius: 15px;
}

#peliculas .poster,
figcaption {
    width: 12.5vw;
    min-width: 150px;
}

#peliculas a:hover {
    font-weight: bold;
}


/* Páginas individuales de reseñas */

@media (min-width:640px) {
    .resenas01 {
        display: flex;
        justify-content: space-between;
    }

    .menu01 {
        flex-basis: calc(30%);
        min-width: 200px;
        padding-bottom: 10vmin;
    }

    .container_pelicula {
        flex-basis: calc(70%);
        padding-bottom: 10vmin;
    }
}

@media (min-width:800px) {
    .resenas01 {
        display: flex;
        justify-content: space-between;
    }

    .menu01 {
        flex-basis: calc(25%);
        min-width: 240px;
        padding-bottom: 10vmin;
    }

    .container_pelicula {
        flex-basis: calc(75%);
        padding-bottom: 10vmin;
    }
}

.container_pelicula {
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: initial;
    color: #FFF;
    text-shadow: 1px 1px 4px black;
    flex-direction: row;
    max-width: 1400px;
    background-image: linear-gradient(0deg,
            rgba(17, 17, 55, 1), rgba(17, 17, 55, 1), rgba(17, 17, 55, 0.8), rgba(17, 17, 55, 0.6),
            rgba(17, 17, 55, 0.4)), url("./stills/001metropolis_01.jpg");
    background-color: #113;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
    border-radius: 25px;
}


.container_pelicula .container {
    margin: 10vh 0vw;
    padding: 0vh 0vw;
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: initial;
}

.container_pelicula img {
    border-radius: 15px;
}

.container_pelicula .poster {
    width: 20vw;
    min-width: 150px;
}

.container_pelicula .resenas {
    /* padding-left: 2vmin;
    padding-right: 2vmin;
    padding-top: 2vmin;
    padding-bottom: 2vmin; */
    margin: 3vmin 3vmin 3vmin 10vmin;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: initial;
    flex-direction: row;
    border-radius: 15px;
    /* background-color: rgba(0, 0, 17, 0.5); */
}

.container_pelicula .resenas:hover {
    box-shadow: none;
    transform: none;
}

.container_pelicula .infopelicula {
    text-align: initial;
    width: 80vmin;
    min-width: 300px;
    /* padding: 0vmin 3vmin 2vmin; */
    margin: 3vmin 3vmin 0 0;
    /* background-color: rgba(0, 0, 34, 0.5); */
    /* border-radius: 15px; */
}

.container_pelicula .titulopelicula {
    background-color: rgba(0, 0, 34, 1);
    border-radius: 15px;
    padding: 1vmin 3vmin;
    margin: 0 0 3vmin 0;
}


.container_pelicula h3 {
    font-size: 8vmin;
    margin: 0 0 0 0;
}

.container_pelicula p {
    line-height: 120%;
    margin: 1vmin 0;
}

.container_pelicula .panel {
    background-color: rgba(0, 0, 34, 0.5);
    border-radius: 15px;
    padding: 2vmin 3vmin;
    margin: 0 0 0 0;
    display: none;
    overflow: hidden;
    margin: 0 0 2vmin 0;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    font-family: 'Proxima Nova', 'Source Sans Pro', 'Roboto', sans-serif;
    background-color: #002;
    color: #fff;
    font-size: 3vmin;
    cursor: pointer;
    padding: 2vmin;
    width: 100%;
    text-align: left;
    border-radius: 15px;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 0 0 1vmin 0;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordionactive, .accordion:hover {
    background-color: #f60;
    font-weight: bold;
  }

.accordionactive {
    margin: 0 0 0 0;
}

/* Ajustes por tamaño de pantalla en reseñas individuales */

@media (max-width:1000px) {

    .container_pelicula {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .container_pelicula .container {
        margin: 5vh 0vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    .container_pelicula .poster {
        width: 25vw;
        min-width: 150px;
    }

    .container_pelicula .resenas {
        margin: 2vmin 0 1vmin 0;
    }

    .infopelicula {
        width: 100%;
        text-align: center;
        min-width: none;
    }

    .infopelicula .titulopelicula {
        text-align: center;
        padding: 1vmin 0;
        width: 100%;
        min-width: none;
        margin: 0 3vmin 1vmin;
    }

    .infopelicula .accordion {
        text-align: center;
        width: 100%;
        min-width: none;
        margin: 0 3vmin 1vmin;
    }

    .infopelicula .panel {
        width: 100%;
        min-width: none;
        margin: 0 3vmin 1vmin;
    }
}

@media (max-width:800px) {

    .container_pelicula {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .container_pelicula .container {
        margin: 5vh 0vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    .container_pelicula .poster {
        width: 25vw;
        min-width: none;
    }

    .container_pelicula .resenas {
        margin: 1vmin 0 1vmin 0;
    }

    .infopelicula {
        width: 100%;
        text-align: center;
        min-width: none;
    }

    .infopelicula .titulopelicula {
        text-align: center;
        padding: 1vmin 0;
        width: 100%;
        min-width: none;
        margin: 0 1vmin 1vmin;
    }

    .infopelicula .accordion {
        text-align: center;
        width: 100%;
        min-width: none;
        margin: 0 1vmin 1vmin;
    }

    .infopelicula .panel {
        width: 100%;
        min-width: none;
        margin: 0 1vmin 1vmin;
    }
}


/* Películas más populares */

.contenedor {
	width: 100%;
	margin: 4vmin 2vmin 10vmin;
    padding: 2vmin;
	display: grid;
	grid-template-columns: repeat(auto-fill,25%);
    align-items: center;
    justify-content: center;
    text-align: center;
	gap: auto;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
	width: 100%;
    max-width: 75vw;
	margin: 4vmin 2vmin 10vmin 2vmin;
    padding: 2vmin;
    gap: auto; */
}

.contenedor .titulo {
    width: 12.5vw;
    min-width: 150px;
	font-size: medium;
    font-weight: unset;
}

/* .contenedor .pelicula .poster {
	width: 12.5vw;
	margin-bottom: 2vmin;
	border-radius: 15px;
} */

.paginacion {
	position: sticky;
	bottom: 0;
	background: #100a1f;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 4vmin;
	padding: 2vmin;
    z-index: 10;
}

.paginacion button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 8vmin;
	width: 40vmin;
	background: #241744;
	color: #fff;
	border-radius: 100px;
	font-family: 'Proxima Nova', 'Source Sans Pro', 'Roboto', sans-serif;
	font-size: 3vmin;
    font-weight: bold;
	transition: .3s ease all;
}

.paginacion button:hover {
	background: #137c32;
}

@media (max-width:1000px) {
    .contenedor {
        grid-template-columns: repeat(auto-fill,33%);
    }
}

@media (max-width:800px) {
    .contenedor {
        grid-template-columns: repeat(auto-fill,50%);
    }
}