* {
    box-sizing: border-box;
    /* permite que el texto no crezca mas de lo espefificado*/
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Proxima Nova', 'Source Sans Pro', 'Roboto', sans-serif;
    margin: 0;
}

h1 {
    font-weight: bold;
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-weight: bold;
    font-size: 2em;
}

h3 {
    font-size: 4em;
}

p {
    font-size: 1.25em;
}

button {
    font-family: 'Proxima Nova', 'Source Sans Pro', 'Roboto', sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 10);
    color: #FFF;
    background-color: #910;
}

button:hover {
    background-color: #F40;
}

.container {
    max-width: 1400px;
    margin: auto;
}

.color-acento {
    color: #FFF;
}

header {
    background-color: #003;
}

header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: #FFF;
    font-size: 1.6em;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: #FFF;
}

header a:hover {
    color: #F40;
}

#film {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFF;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 51, 0),
            rgba(0, 0, 51, 1));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

#hero h1 {
    color: #FFF;
}

#uno button {
    font-size: 1.75em;
}

#QuienesSomos .container {
    text-align: center;
    padding: 200px 12px;
    color: #FFF;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 51, 1),
            rgba(0, 0, 51, 0));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


#navegar {
    background-color: #003;
    color: rgb(255, 255, 255);
    text-align: center;
}

#navegar .container {
    padding: 150px 12px;
}

#navegar p {
    display: none;
}

#navegar .carta {
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("./img/Reseña.png");

}

.carta:nth-child(2) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("./img/posdcast.png");
}

.carta:nth-child(3) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("./img/buscar.png");
}

.carta:nth-child(4) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("./img/uno.png");

}

#top10 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient 0deg,
        #003,
        rgba(20, 15, 15, 0.5)
}

#top10 h2 {
    font-size: 5vw;
}

footer {
    padding: 1rem 1rem 1rem 1rem;
    background-color: #003;
}

footer h4 {
    color: #DDD;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 720px) {
    header {
        position: fixed;
        width: 100%;
    }

    header .container {
        flex-direction: row;
        justify-content: space-between;

    }
}

header nav {
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
}

#hero h1 {
    font-size: 5em;
}

#QuienesSomos .container {
    display: flex;
    justify-content: space-evenly;
}

#QuienesSomos .texto {
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#QuienesSomos h2 {
    margin-top: 0px;
}

#QuienesSomos .img-container {
    background-image: url("./img/uno.png");
    background-size: cover;
    background-position: center center;
    height: 600px;
    width: 400px;
}

#registro {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFF;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 51, 0.25),
            rgba(0, 0, 51, 1)), url("./img/matrixpill.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

form {
    padding-left: 5vmax;
    padding-right: 5vmax;
    padding-top: 5vmin;
    padding-bottom: 5vmin;
    border-radius: 25px;
    align-items: left;
    text-align: left;
    font-weight: normal;
    background-color: rgba(0, 0, 51, 0.8);
}